{%- if block.settings.page.content != blank -%}
  <div class="prose" {{ block.shopify_attributes }}>{{- block.settings.page.content -}}</div>
{%- endif -%}
  
{% schema %}
{
  "name": "t:blocks.page.name",
  "tag": null,
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:blocks.page.page"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.page.name"
    }
  ]
}
{% endschema %}