<style>
  .look-list-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
  }
  .look-list__item {
    width: calc(100% / 4);
  }

@media (max-width: 768px) {
  .look-list__item {
    width: calc((100% + 100px) / 2);
  }
}
</style>
{%- if section.settings.products.size > 0 -%}
  <scroll-carousel allow-drag class="look-list-container flex overflow-x-auto gap-1 cursor-grab">
    {%- for product in section.settings.products -%}
      <div class="look-list__item shrink-0">
        {%- render 'product-card', product: product, disable_slider_mobile: true -%}
      </div>
    {%- endfor -%}
  </scroll-carousel>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.look_list.name",
  "settings": [
    {
      "type": "product_list",
      "id": "products",
      "label": "t:sections.look_list.products"
    }
  ],
  "presets": [
    {
      "name": "Look List"
    }
  ]
}
{% endschema %}
